body {
    background-color: #4cc9ef;
    font-family: 'Georgian', serif;
}

h1,
h3 {
    text-align: center;
}

img {
    border: 5px solid #6b4226;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}